<div class="container">
  <div class="center">
    <h1 style="color:royalblue;">海の生き物に会いに行きませんか？</h1>
    <div class="slide-items" id="js-slide">
      <%= image_tag "top/slide_item1.jpg", alt: "slide_item1" %>
      <%= image_tag "top/slide_item2.jpg", alt: "slide_item2" %>
      <%= image_tag "top/slide_item3.jpg", alt: "slide_item3" %>
      <%= image_tag "top/slide_item4.jpg", alt: "slide_item4" %>
    </div>
    <div class="alternate">
      <div class="row">
        <%= image_tag "top/intro1.jpg", class: "intro_img" %>
        <div class="intro_stc">
          <h3 style="color:red;">海には色々な生き物がいます。</h3>
          <h4 class="stc_title">大きさ</h4>
          <p>プランクトンを始めとする小さな生き物から</p>
          <p>クジラやシャチなどの大型生物まで</p>
          <h4 class="stc_title">形</h4>
            <ul class="fish_shapes">
              <li>イルカ、クジラ、シャチに特徴的な横の尾びれ</li>
              <li>ヒトデの星形、棘があるウニ</li>
              <li>ヘビのような体をもつウツボ</li>
            </ul>
        </div>
      </div>
      <div class="row">
        <%= image_tag "top/intro2.jpg", class: "intro_img" %>
        <div class="intro_stc center_item">
          <p>水族館でも魚やイルカ、アザラシなどに会えますが、<br>
          海で見る野生の海洋生物の迫力はまた格別です！！</p>
        </div>
      </div>
      <div class="row">
        <%= image_tag "top/intro3.jpg", class: "intro_img" %>
        <div class="intro_stc center_item">
          <p>このアプリでは皆さんが発見した海の生き物の情報を集めています。</p>
          <p>どんな些細な情報でも構いません。</p>
          <p>たくさん投稿して目撃情報をシェアしましょう！！</p>
        </div>
      </div>
      <div class="row">
        <%= image_tag "top/intro4.jpg", class: "intro_img" %>
        <div class="intro_stc center_item emphasize">
          <p>さあ、大海原にいる海の生き物に探しに行きましょう！！</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
const slides = $("#js-slide").find("img");
const slideLength = slides.length;
const show = 3000;
let now = 0;
let next = 1;
const fade = 1500;
const slideshow = () => {
  slides.eq(now % slideLength).fadeOut(fade).removeClass("zoom");
  slides.eq(next % slideLength).fadeIn(fade).addClass("zoom");
  now++
  next++
};

setInterval(slideshow, show);
</script>
