<div class="container">
  <div class="center">
    <h1>海の生き物に会いに行きませんか？</h1>
    <div class="slide-items" id="js-slide">
      <%= image_tag "top/slide_item1.jpg", alt: "slide_item1" %>
      <%= image_tag "top/slide_item2.jpg", alt: "slide_item2" %>
      <%= image_tag "top/slide_item3.jpg", alt: "slide_item3" %>
      <%= image_tag "top/slide_item4.jpg", alt: "slide_item4" %>
    </div>
    <div class="alternate">
      <div class="row">
        <%= image_tag "top/intro1.jpg", class: "intro_img" %>
        <div class="intro_stc">
          <p>海には色々な生き物がいます。</p>
        </div>
      </div>
      <div class="row">
        <%= image_tag "top/intro2.jpg", class: "intro_img" %>
        <div class="intro_stc">
          <p>海には色々な生き物がいます。</p>
        </div>
      </div>
      <div class="row">
        <%= image_tag "top/intro3.jpg", class: "intro_img" %>
        <div class="intro_stc">
          <p>海には色々な生き物がいます。</p>
        </div>
      </div>
      <div class="row">
        <%= image_tag "top/intro4.jpg", class: "intro_img" %>
        <div class="intro_stc">
          <p>海には色々な生き物がいます。</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
const slides = $("#js-slide").find("img");
const slideLength = slides.length;
const show = 3000;
let now = 0;
let next = 1;
const fade = 1500;
const slideshow = () => {
  slides.eq(now % slideLength).fadeOut(fade).removeClass("zoom");
  slides.eq(next % slideLength).fadeIn(fade).addClass("zoom");
  now++
  next++
};

setInterval(slideshow, show);
</script>
