<div class="container">
  <div class="center">
    <h1>海の生き物に会いに行きませんか？</h1>
    <%= image_tag "top/top_bg.jpg", alt: "Whale BG Image", class: "bg_image" %>
    <div class="alternate">
      <div class="row">
        <%= image_tag "top/intro1.jpg", class: "intro_img" %>
        <div class="intro_stc">
          <p>海には色々な生き物がいます。</p>
        </div>
      </div>
      <div class="row">
        <%= image_tag "top/intro2.jpg", class: "intro_img" %>
        <div class="intro_stc">
          <p>海には色々な生き物がいます。</p>
        </div>
      </div>
      <div class="row">
        <%= image_tag "top/intro3.jpg", class: "intro_img" %>
        <div class="intro_stc">
          <p>海には色々な生き物がいます。</p>
        </div>
      </div>
      <div class="row">
        <%= image_tag "top/intro4.jpg", class: "intro_img" %>
        <div class="intro_stc">
          <p>海には色々な生き物がいます。</p>
        </div>
      </div>
    </div>
  </div>
</div>
