<!DOCTYPE html>
<html>
  <head>
    <title>FindWhale</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= favicon_link_tag('favicon.png') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="header_link_container">
        <div class="header_left">
          <h3 class="title" id="title_top"><%= link_to "FindWhale","/" %></h3>
          <div class="search_area">
            <%= form_with url: search_path do |f| %>
              <%= f.text_field :keyword, placeholder: "キーワード" %>
              <%= f.submit "検索" %>
            <% end %>
          </div>
        </div>
        <% if @current_user %>
          <div class="user_info_top">
            <div class="title" id="user_name"><%= @current_user.name %></div>
            <div class="hamburger-menu">
              <input type="checkbox" id="menu-btn-check" />
              <label for="menu-btn-check" class="menu-btn">
                <% if @current_user.avatar.attached? %>
                  <%= image_tag @current_user.avatar, :alt => "アイコン画像", :class => "user_icon", :id => "header_user_icon", :size => "100x100" %>
                <% else %>
                  <%= image_tag "user/default_user.jpg", :alt => "アイコン画像", :class => "user_icon"%>
                <% end %>
              </label>
              <div class="menu-content">
                <ul>
                  <li><%= link_to "設定", :users_account %></li>
                  <li><%= link_to "新規投稿", :new_post %></li>
                  <li><%= link_to "投稿編集", "/posts/#{@current_user.id}/index" %></li>
                  <li><%= link_to "投稿一覧", :posts %></li>
                  <li><%= link_to "ログアウト", :logout, method: :delete %></li>
                </ul>
              </div>
            </div>
          </div>
          <% else %>
            <div class="button" id=user_button_form">
              <%= link_to "ゲストログイン（お試し）", :guest_login, class:"button", id:"login_button", method: :post %>
              <%= link_to "ログイン", :login, class:"button", id:"login_button" %>
              <%= link_to "登録", :new_user, class:"button", id:"register_button" %>
            </div>
          <% end %>
      </div>
    </header>
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    <footer>
      <div class="title">
        <p style="color: #aaa; text-align: center;">copyright syun</p>
      </div>
    </footer>
  </body>
</html>
